.vscode
.idea
.DS_Store

/cli/target
/client/node_modules
/client/dist-electron
/client/dist
/crx/node_modules
/crx/dist
/frontend/node_modules
/frontend/dist
/server/.gradle
/server/gradle/wrapper/*.jar
/server/gradlew*
/server/build
*.db

*.local.*
*.local
