.vscode
.idea
.DS_Store

/cli/venv
/cli/**/__pycache__
/client/node_modules
/client/target
/frontend/node_modules
/frontend/dist
/server/.gradle
/server/gradle
/server/gradlew*
/server/build
/dist
*.db

*.local.*
*.local
